<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet
		</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value>com.titaniumjellyfish.studybuddy.generated.DeviceInfoEndpoint,com.titaniumjellyfish.studybuddy.generated.MessageEndpoint
			</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>com.titaniumjellyfish.studybuddy.servlets.UploadServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>com.titaniumjellyfish.studybuddy.servlets.DownloadServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>scheduler</servlet-name>
	    <servlet-class>com.titaniumjellyfish.studybuddy.servlets.ScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scheduler</servlet-name>
		<url-pattern>/reprocess/*</url-pattern>
	</servlet-mapping>
	
<!-- 	<security-constraint>
		<web-resource-collection>
			<url-pattern>/reprocess/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint> -->
</web-app>